body {
    margin: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    flex-direction: column;
}


.header,
.box1,
.box2,
.box3,
.box4,
.footer {
    padding: 20px;
}

.header{
    color: #f9faf9;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 0;
}

.header-logo{
    display: flex;
    width: 25%;
    font-size: 24px;
    justify-content: flex-start;
}

.header-links{
    display: flex;
    width: 50%;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: space-around;
    align-items: center;
}

.box1 {
    background: #1F2937;
}

.content1{
    display: flex;
    justify-content: space-between;
}

.title{
    display:flex;
    flex-direction: column;
    font-size: 18px;
}

.main-title{
    font-weight: 900;
    font-size: 48px;
    padding: 0;
}

.sub-title{
    color: #e5e7eb;
}

.sub-button{
    width: 100px;
    height: 38px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    background-color: #3882f6;
    padding: 8px 18px;
    color: white;
}

.image{
    padding: 40px;
    height: 200px;
}

.box2 {
    background: white;
    color: black;
}

.above-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;

}

.gallery {
    display: flex;
    justify-content: space-around;
}

.rectangle {
    height: 100px;
    width: 100px;
    border: #3882f6 solid 4px;
    border-radius: 8px;
}

.photo1,
.photo2,
.photo3,
.photo4 {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.box3 {
    background: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 20px;
    font-weight: 800;
    text-align: right;
}

.box4 {
    background: white;
    color: black;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-box4 {
    background: #3882f6;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box4-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.box4-main-text {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.box4-sub-text {
    color: #e5e7eb;

}

#button2 {
    border:#E5E7EB solid 2px;
}

.footer {
    background: #1F2937;
    text-align: center;
    color: #e5e7eb;
}
